<form [formGroup]="form" *ngIf="form">
  <div class="container form">
    <div class="form-individual title">
      <label>Titulo</label>
      <input [(ngModel)]="request.title" type="text" formControlName="Title" name="Title">
    </div>
    <div class="form-individual description">
      <label>Descrição</label>
      <input [(ngModel)]="request.description" type="text" formControlName="Description" name="Description">
    </div>
    <div class="form-individual duration">
      <label>Duração</label>
      <input [(ngModel)]="request.duration" type="number" formControlName="Duration" name="Duration">
    </div>

    <button (click)="save()">GRAVAR</button>

    <a routerLink="/movies" class="back">Voltar</a>
  </div>
</form>
