<div id="home-header">
  <img src="../../../assets/Images/HomeSalaImage.jpg" alt="">
  <div class="container" id="home-header-title">
    <p>PrintWayy,<br>CINEMA E ARTE!!</p>
  </div>
</div>
<div class="container">
  <div class="sub-header">
    <h2>FILMES EM DESTAQUE</h2>
  </div>
  <div class="cards-movie-separetaion">
    <div class="card">
      <img src="../../../assets/Images/Filme1.jpg" alt="">
      <h3>Lorem, ipsum.</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti hic fugit quisquam dignissimos veniam iusto id illo dicta eligendi sed?</p>
    </div>
    <div class="card">
      <img src="../../../assets/Images/Filme2.jpg" alt="">
      <h3>Lorem, ipsum.</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti hic fugit quisquam dignissimos veniam iusto id illo dicta eligendi sed?</p>
    </div>
    <div class="card">
      <img src="../../../assets/Images/Filme3.jpg" alt="">
      <h3>Lorem, ipsum.</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti hic fugit quisquam dignissimos veniam iusto id illo dicta eligendi sed?</p>
    </div>
  </div>
</div>
<div class="sub-header-two">
  <h2>TWO for YOU</h2>
</div>
<div class="container">
  <div class="promotion">
    <div class="img-promotion">
      <img src="../../../assets/Images/Ticket.png" alt="">
    </div>
    <div class="text-promotion">
      <h2>Lorem, ipsum.</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores molestias, quasi quidem, a dolore doloremque veniam velit delectus cupiditate totam necessitatibus magni optio omnis dolorum vel recusandae aliquid placeat porro nam facilis sequi provident! Ipsum libero maxime exercitationem ad ratione.</p>
    </div>
  </div>
</div>
