<div class="footer">
  <div class="container">
    <div class="footer-division">
      <div class="footer-first">
        <h3>LOREM</h3>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At laborum aliquid ea earum fugiat facilis itaque repellendus a, aut minus possimus ullam reiciendis quod fuga dolor necessitatibus provident nulla molestias.</p>
      </div>
      <div class="footer-second">
        <h3>CONTATO</h3>
        <br>
        <p>andrey.vieira1@gmail.com</p>
        <p>(49) 99998-7592</p>
        <p>Lages - SC</p>
        <a href="https://github.com/AndreyPlusVieira">GitHub.com</a>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <p>Copyright © 2022 Cinema. Todos os direitos reservados.</p>
</div>
