<form [formGroup]="form">
  <div class="container form">
    <div class="form-individual title">
      <label>Titulo</label>
      <input type="text" formControlName="Title" [(ngModel)]="request.title" [ngClass]="{'is-invalid': f.Title.errors && f.Title.touched}">
      <div class="invalid-information" *ngIf="f.Title.errors && f.Title.touched">
        <p>O titulo é obrigatório.</p>
      </div>
    </div>
    <div class="form-individual description">
      <label>Descrição</label>
      <input type="text" formControlName="Description" [(ngModel)]="request.description" [ngClass]="{'is-invalid': f.Description.errors && f.Description.touched}">
      <div class="invalid-information" *ngIf="f.Description.errors && f.Description.touched">
        <p>A descrição é obrigatória.</p>
      </div>
    </div>
    <div class="form-individual duration">
      <label>Duração</label>
      <input type="number" formControlName="Duration" [(ngModel)]="request.duration" [ngClass]="{'is-invalid': f.Duration.errors && f.Duration.touched}">
      <div class="invalid-information" *ngIf="f.Duration.errors && f.Duration.touched">
        <p>A duração é obrigatória.</p>
      </div>
    </div>

    <button button [disabled]="!form.valid" (click)="update()">ATUALIZAR</button>

    <a routerLink="/movie/{{id}}" class="back ">Voltar</a>
  </div>
</form>
